:root {
  --background-dark: rgba(0, 0, 0, 0.8);
  --accent-red: #ed1c24;
}

body {
  margin: 0;
  color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  color: var(--accent-red);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--accent-red);
}

/* Header */

header {
  background-color: var(--background-dark);
  padding: 20px 0;
}

header div {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.menu-button {
  font-size: 22px;
  width: 120px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

.menu-button:hover {
  font-size: 24px;
  color: var(--accent-red);
  cursor: pointer;
}

.menu-button.active {
  color: var(--accent-red);
}

/* Main */

#content {
  width: 100vw;
  height: 100vh;
  background: url(./images/hand-restaurant-meal-food-cooking-culinary-633103-pxhere.com.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  overflow: auto;
  justify-self: start;
}

.main-container {
  max-width: 960px;
  width: min(90%, 960px);
  margin: 50px auto;
  border: 2px var(--background-dark) solid;
}

.main-content {
  background-color: var(--background-dark);
  padding: 40px;
  text-align: center;
  margin: 10px;
  font-size: 18px;
}

.main-content p {
  margin: 0;
}

.promo {
  max-width: 600px;
  width: min(90%, 600px);
  margin: 20px auto;
}

/* Footer */

footer {
  display: flex;
  background-color: var(--background-dark);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

footer img {
  height: 20px;
  color: white;
  padding-left: 10px;
}

/* Menu */

.main-content.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.dish-card {
  width: 400px;
  height: 300px;
  margin: auto;
}

.dish-card h2 {
  color: var(--accent-red);
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 20px;
}

.dish-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dish-content {
  padding: 10px;
}

.dish-overlay:hover {
  opacity: 1;
  transition: ease 1s;
}

/* Menu images */

#yakisoba {
  background-image: url(./images/asian-dish-meal-food-meat-cuisine-774746-pxhere.com.jpg);
}

#rolls {
  background-image: url(./images/bowl-dish-food-green-produce-vegetable-1331506-pxhere.com.jpg);
}

#ramen {
  background-image: url(./images/dish-meal-food-breakfast-cuisine-soup-729807-pxhere.com.jpg);
}

#shrimp-fried-rice {
  background-image: url(./images/sea-white-restaurant-isolated-asian-dish-819397-pxhere.com.jpg);
}
